body {

    background-color: aqua;

}
h2 {
    color: darkblue;
}
h3 {
    color: red;
}
h4 {
    color: crimson;
}
h5 {
    color: gainsboro;
}
h6 {
    color: mediumblue;
}

p {
    font-family: cursive;
}